@{
  Layout = "_Layout";
}

@model ToDoList.Models.Item

<h2>Edit</h2>

<h4>Edit this task: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ItemId) //pass Item ID to controller so it know which item to edit

    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)

    @Html.LabelFor(model => model.Category)
    @Html.DropDownList("CategoryId")

    <input type="submit" value="Save" class="btn"/>
}
<br>
<p>@Html.ActionLink("Back to list", "Index")</p>